
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {border-style: solid; border-color: red; border-width: 5px; padding: 5px;
	width: 25%;position: absolute; top: 40px; left: 10%;
    
}
#two {border-style: solid; border-color: blue; border-width: 5px; padding: 5px;
	width : 25%;position: absolute; top: 40px; margin: 5px;right: 10%;
    
}
#three {border-style: solid; border-color: orange; border-width: 5px; padding: 5px;
	width: 25%;position: absolute; bottom: 40px; left: 10%;margin: 5px;
    
}
#four {border-style: solid; border-color: black; border-width: 5px; padding: 5px;
	width: 25%;position: absolute; bottom: 40px; right: 10%;margin: 5px;
    
}

#link{border-style: none; position: absolute; top: 40px; left: 43% ;
	background: #354eb1; 

}
a{text-decoration: none;
	color:#fefefe;; 
}